@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

body
{
	font-family: 'Luckiest Guy', cursive;
}
#overlayBoxSession
{
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 115px;
}
#sessionBox
{
	position: absolute;
	top: 20px;
	left: 75px;
	height: 25px;
	width: 120px;
	background-color:rgba(0, 0, 0, 0.6);
	line-height: 25px;
	border-radius: 5px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	color: #00c7e0;
}
#winsBoxSession
{
	position: absolute;
	top: 50px;
	left: 0;
	height: 0px;
	width: 90px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: center;
	color: #006aff;
	transition: 0.8s;
}
#killsBoxSession
{
	position: absolute;
	top: 50px;
	left: 95px;
	height: 0px;
	width: 90px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: center;
	color: #e25bff;
	transition: 0.8s;
}
#kdBoxSession
{
	position: absolute;
	top: 50px;
	left: 190px;
	height: 0px;
	width: 90px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: center;
	color: #ddb1ff;
	transition: 0.8s;
}
#overlayBoxLifetime
{
	position: fixed;
	top: 0;
	left: 500px;
	width: 280px;
	height: 195px;
}
#lifetmeBox
{
	position: absolute;
	top: 20px;
	left: 75px;
	height: 25px;
	width: 120px;
	background-color:rgba(0, 0, 0, 0.6);
	line-height: 25px;
	border-radius: 5px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	color: #00c7e0;
}
#winsBoxLifetime
{
	position: absolute;
	top: 50px;
	left: 0;
	height: 0px;
	width: 90px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: center;
	color: #006aff;
	transition: 0.8s;
}
#killsBoxLifetime
{
	position: absolute;
	top: 50px;
	left: 95px;
	height: 0px;
	width: 90px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: center;
	color: #e25bff;
	transition: 0.8s;
}
#kdBoxLifetime
{
	position: absolute;
	top: 50px;
	left: 190px;
	height: 0px;
	width: 90px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: center;
	color: #ddb1ff;
	transition: 0.8s;
}
#logo
{
	position: absolute;
	top: 40px;
	left: 281px;
	height: 100px;
	width: 219.23551171393342px;
	display: none;
}
.stat
{
	color: #fff;
	font-size: 42px;
}
#killStatLifetime
{
	font-size: 38px;
}
